<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26864337199-sn2tfm3sr3ibc6fnjqcjcf99m86ioko7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26864337199-sn2tfm3sr3ibc6fnjqcjcf99m86ioko7</string>
	<key>API_KEY</key>
	<string>AIzaSyDyZfiQFfsCINp-XS9Vg0GXxGP-ewUR8TM</string>
	<key>GCM_SENDER_ID</key>
	<string>26864337199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ManhattanCode.testFirebase1</string>
	<key>PROJECT_ID</key>
	<string>testfirebase1-45eed</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase1-45eed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26864337199:ios:75e46e1f78e3e18b</string>
	<key>DATABASE_URL</key>
	<string>https://testfirebase1-45eed.firebaseio.com</string>
</dict>
</plist>